$neon:rgb(100, 255, 218);

$normal:rgb(136, 145, 176);

$normalFade:rgba(136, 145, 176, 0.7);

$lemon:#ccf000;
.loader{
    display: block;
    width: 100vw;
    height: 100vh;
    background: $lemon;
    visibility: visible;
    
    .box{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        // border: 2px solid #FFF;
        .b{
            border-radius: 50%;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation: rotate 2s infinite;
            box-shadow: 0px 0px 5px #777 ;
        }
        .b1{
            width: 150px;
            height: 150px;
            border-left:4px solid #E6C100;
            border-right:4px solid #748033;
            animation-delay: 0.2s;
        }
        .b2{
            width: 120px;
            height: 120px;
            border-left:4px solid #125DB3;
            border-right:4px solid #000;;
            animation-delay: 0.4s;
        }
        .b3{
            width: 90px;
            height: 90px;
            border-left:4px solid #000;
            border-right:4px solid #125DB3;
            animation-delay: 0.6s;
        }
        .b4{
            width: 60px;
            height: 60px;
            border-left:4px solid #748033;
            border-right:4px solid #E6C100;
            animation-delay: 0.8s;
        }
        .b5{
            width: 30px;
            height: 30px;
            border-left:4px solid red;
            border-right:4px solid red;
            animation-delay: 1s;
        }
    }
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
    text-align: center;
    overflow-x: hidden;
    padding-right: 15px;
    visibility: hidden;
    overflow: hidden;
    width: 100vw;
}
.over{
    overflow:hidden;
}
//general
h2 {
    // font-size: 3.2rem;
    color: $normal;
    font-weight: bold;
    display: inline-block;
}

.mark {
    color: $neon;
    background-color: transparent;
    padding: 0;
    padding-right: 5px;
}

.divis {
    margin-bottom: 7rem;
}

.containers {
    max-width: 1600px;
    width: 100%;
    padding: 200px 150px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    margin: auto;
}

//Navbar
nav {
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    color: $lemon;
    transition: top 0.3s;
    background-color: transparent;
    // border-bottom: 5px solid $lemon;
    .logo {
        letter-spacing: 5px;
        text-align: left;
    }

    .nav-links {
        text-align: right;
        position: absolute;
        right: 5rem;
        text-decoration: none;
        display: flex;
        width: 30%;
        justify-content: space-around;

        li {
            list-style-type: none;
            border-bottom: 0.5px solid transparent;
            transition: border 0.3s;
            // transition: border-width 0.3s;
        }

        li:hover {
            border-bottom: 0.5px solid $lemon;
            border-width: 100%;
        }

        a {
            text-decoration: none;
            color: $normal;
            letter-spacing: 2px;
            font-weight: lighter;
            font-size: 0.8rem;
            transition: color 0.3s;
        }

        a:hover {
            color: $lemon;
        }
    }
}
.time{
    line-height: 15px;
    position: relative;
    top:-3px;
    font-size: 1rem;
    text-align: left;
    border-left: 2px solid $lemon;
    padding-left: 7px;
}
.expand{
    width: 8vh;
    height: 8vh;
    position: absolute;
    right: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    .burger{
        width: 6px;
        height: 35px;
        border-radius:50px;
        justify-content: center;
        background-color: $lemon;
        transition: all 0.3s ease-in;
        box-shadow: 0px 2px 5px #777;
    }
    .burger::after,
    .burger::before{
        content: '';
        position: absolute;
        display: flex;
        width: 6px;
        height: 35px;
        border-radius:50px;
        // justify-content: center;
        background: $lemon;
        // transform:translateX(-6px);
        // transform: rotate(50deg);
        transition: all 0.3s ease-in;
        box-shadow: 0px 2px 5px #777;
    }
    .burger::after{
        transform: translateX(15px);
    }
    .burger::before{
        transform: translateX(-15px);
    }
    .exp{
        transform-origin: center;
        transform: rotate(-90deg);
        background:transparent;
        box-shadow: none;
    }
    .exp:before{
        content: '';
        height: 40px;
        transform-origin: center;
        transform:rotate(-45deg);
        background-color: red;
    }
    .exp:after{
        content: '';
        height: 40px;
        transform-origin: center;
        transform:rotate(45deg);
        background-color: red;
    }

}
///////////////******menu
.menu{
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    z-index: 1;
    .row{
        position: relative;
        height: 100%;
        width: 100%;
        opacity: 0;

        .colum{
            height: 80%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            justify-content: center;
            align-items: center;
            ul{
                position: absolute;
                width: 70%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: left;
                list-style-type: none;
                li{
                    font-size: 3rem;
                    color: #fff5;
                    margin-bottom: 50px;
                    cursor: pointer;
                    line-height: 3.2rem;
                }
                li:hover{
                    color:$lemon;
                }
            }
        }
        .col-7{
            transition: all 0.3s ease-in;
            right: 0;
            border-left: 2px solid #fff5;
            text-align: center;
            align-items: center;
            justify-items: center;
            justify-content: center;
            .heading{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                h1{
                    font-size: 5rem;
                    color: #fff5;
                }
                h3{
                    color: #fff5;
                }
                .sign{
                    text-align: left;
                    #emailHelp{
                        color: #fff5 !important;
                    }
                    opacity: 0;
                    transition: all 0.3s ease-in;
                }
                .social-btn{
                    margin-top: 20px;
                    text-align: center;
                }
                .social{
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    backdrop-filter: blur(12px);
                    border: none;
                    text-align: center;
                    justify-content: center;
                    margin-right: 40px;
                    transition: all 0.3s ease-in;
                    cursor: pointer;
                    button{
                        background: transparent;
                        border: none;
                        position: absolute;
                        top: 52%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    button:focus{
                        outline: none;
                    }
                    i{
                        font-size: 1.2rem;
                    }
                }
                .g{
                    background-color: rgba(219,68,55,0.2);
                }
                .f{
                    background-color: rgba(66,103,178,0.2);
                }
                .s{
                    background-color: rgba(27, 40, 56,0.2);
                    margin: 0;
                }
                .g:hover{
                    background-color: rgba(219,68,55,1);
                    i{
                        color: #fff;
                    }
                }
                .f:hover{
                    background-color: rgba(66,103,178,1);
                    i{
                        color: #fff;
                    }
                }
                .s:hover{
                    background-color: rgba(27, 40, 56,1);
                    i{
                        color: #fff;
                    }
                }

            }
        

        }
        transition: all 0.3s ease-in;
    }
    transition: all 0.3s ease-in;
}
.opened{
    height: 100vh;
    scroll-behavior: none;
    scroll-snap-stop: always;
    .row{
        opacity: 1;
        .col-7{
            .heading{
                .sign{
                    opacity: 1;
                }
            }
        }
    }
}
//////////////*******hero div
.hero{
    height: 108vh;
    .heroImg{
        height: 108vh;
        width: 100%;
        object-fit: cover;
        overflow-x: hidden;
    }
    .d-block{
        object-fit: cover;
        height: 108vh;
        width: 100vw !important;
        filter: blur(4px);
        overflow: hidden;
    }
    position: absolute;
    top: -8vh;
}
.overlay{
    height: 108vh;
        width: 100vw !important;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
}
.carousel-fade{
    z-index: 0 !important;
}
.heroText{
    display: inline;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%); 

    h1{
        font-size: 5rem;
        color:$lemon;
        border:4px solid $lemon;
        display: inline;
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom:1rem;
        // text-shadow: 
        // 0.025em 0.025em 0 rgba(255,0,0,0.7),
        // -0.025em -0.025em 0 rgba(0,0,255,0.7),
        // -0.025em 0.025em 0 rgba(0,255,0,0.7)
    }
    h2{
        font-size: 1rem;
        color:lighten(yellow,20);
        display: block;
        position: relative;
        top: 50px;
    }
}
//main
.main{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    // animation: bump 0.5s 1;
}
//search
.search{
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 2px solid $lemon;
}
.type1{
    background-color: transparent;
    width: 25rem;
    height: 30px;
    border:none;
    padding: 5px;
    text-emphasis: none;
    resize: none;
    font-size: 20px;
    line-height: 20px;
    z-index: 100;
    color: #dbcbbd;
}
.type1:focus{
    outline:none;
    width: 25rem;
    height: 30px;
}
.clk_btn{
    background-color: $lemon;
    border: none;
    border:none;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    transition: all 0.2s;
}
.clk_btn:focus{
    outline: none;
    color: darken($lemon,20);
}
.text{
    position: absolute;
    top: 0;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
    width: 25rem;
    height: 30px;
    color: #52575d;
    z-index: -100;
    letter-spacing: 1.5px;
    font-weight: 500;
    background-color: $lemon;
}
.txt{
    position: relative;
}
.txt:after{
    content: '';
    width: 2px;
    height: 5%;
    border-right:2px solid #777;
    animation: blink 0.5s infinite ease-out;
}
.arow{
    position: relative;
    bottom:100px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 50px;
    cursor: pointer;
}
.dArrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $lemon;
    font-size: 1.2rem;
    opacity: 0;
    animation: slide 1s infinite;
}
.d1{
    // font-size: 1.5rem;
    animation-delay: 0.2s;
}
.d2{
    animation-delay: 0.4s;
}
//////////////*******recent div
.recent{
    height: 500px;
    width: 100vw;
    position: absolute;
    top: 100vh;
    background: rgba(255,255,0,0.8);
}

////////////********keyframes
@keyframes blink{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }

}

@keyframes rotate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    // 25%{
    //     transform: translate(-50%,-50%) rotate(-90deg);
    // }
    50%{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
    // 75%{
    //     transform: translate(-50%,-50%) rotate(-90deg);
    // }
    100%{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}

@keyframes bump{
    0%{
        top: 100%;
        opacity: 0;
    }
    75%{
        top:44%;
        opacity: 0.5;
    }
    100%{
        top:48%;
        opacity: 1;
    }
}

@keyframes slide{
    0%{
        top: 50%;
        opacity:0;
        font-size: 1.5rem;
    }
    // 99%{
    //     top: 100%;
    //     opacity:1;
    //     font-size: 1rem;
    // }
    100%{
        top: 100%;
        opacity:1;
        font-size: 1rem;
    }
}